{% extends "layout.html.twig" %}

{% block title %}Changes logs{% endblock %}

{% block stylesheets %}
<link href="{{asset('assets/plugins/custom/datatables/datatables.bundle.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
	<div
		class="d-flex flex-column flex-column-fluid">

		<!--begin::Toolbar-->
		<div
			id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">

			<!--begin::Toolbar container-->
			<div
				id="kt_app_toolbar_container" class="app-container container-xxl">
				
				<div class="bg-primary-o h-150px rounded d-flex flex-stack p-5 p-md-10">
					<!--begin::Page title-->
					<div
						class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
						<!--begin::Title-->
						<h1 class="page-heading d-flex text-gray-100 fw-bold fs-3 flex-column justify-content-center my-0">
							Changes logs
						</h1>
						<!--end::Title-->


						<!--begin::Breadcrumb-->
						<ul
							class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								<a href="{{path('dashboard')}}" class="text-muted text-hover-primary">
									Accueil
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="breadcrumb-item">
								<span class="bullet bg-gray-500 w-5px h-2px"></span>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								Sécurité
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item">
								<span class="bullet bg-gray-200 w-5px h-2px"></span>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item">
								Changes logs
							</li>
							<!--end::Item-->
						</ul>
						<!--end::Breadcrumb-->
					</div>
					<!--end::Page title-->
				</div>
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->

		<!--begin::Content-->
		<div
			id="kt_app_content" class="app-content  flex-column-fluid ">


			<!--begin::Content container-->
			<div
				id="kt_app_content_container" class="app-container  container-xxl ">

				<!--begin::Card-->
				<div
					class="card card-flush ">
					<!--begin::Card header-->
					<div
						class="card-header mt-6">
						<!--begin::Card title-->
						<div
							class="card-title">
							<!--begin::Search-->
							<div class="d-flex align-items-center position-relative my-1 me-5">
								<i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
								<input type="text" data-kt-permissions-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Rechercher un log"/>
							</div>
							<!--end::Search-->
						</div>
						<!--end::Card title-->

						<!--begin::Card toolbar-->
						<div
							class="card-toolbar">
							<!--begin::Button-->
							<button type="button" class="btn btn-light-danger">
								<i class="ki-duotone ki-plus-square fs-3">
									<span class="path1"></span>
									<span class="path2"></span>
									<span class="path3"></span>
								</i>
								Vider les Logs
							</button>
							<!--end::Button-->
						</div>
						<!--end::Card toolbar-->
					</div>
					<!--end::Card header-->

					<!--begin::Card body-->
					<div
						class="card-body pt-0">
						<!--begin::Table-->
						<table class="table align-middle table-row-dashed fs-6 gy-5 mb-0" id="kt_permissions_table">
							<thead>
								<tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
									<th class="min-w-125px">Statut</th>
									<th class="min-w-250px">Chemin</th>
									<th class="min-w-125px">Adresse IP</th>
									<th class="min-w-125px">Responsable</th>
									<th class="min-w-125px">Date</th>
									<th class="text-end min-w-100px">Actions</th>
								</tr>
							</thead>
							<tbody class="fw-semibold text-gray-600">
                                {% for log in logs %}
								<tr>
									<td>
										{% if log.status == "OK" %}<div class="badge badge-light-success">{{log.responseCode}} {{log.status}}</div>
										{% elseif log.status == "WRN" %}<div class="badge badge-light-warning">{{log.responseCode}} {{log.status}}</div>
										{% else %}<div class="badge badge-light-danger">{{log.responseCode}} {{log.status}}</div>{% endif %}
									</td>
									<td>
										{{log.path ? log.path : ''}}
									</td>
									<td>{{log.ipAddress}}</td>
									<td>
										<a href="{{path('user_resume', {'user': log.user.id})}}" class="text-gray-800 text-hover-primary mb-1">{{log.user.nomComplet}}</a>
									</td>
									<td>{{log.createdAt|time_ago}}</td>
									<td class="text-end">
										<form class="d-inline" method="post" action="{{ path('delete_log', {'id': log.user.id}) }}">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ log.user.id) }}">
											<button class="btn btn-icon btn-active-light-primary w-30px h-30px" data-kt-permissions-table-filter="delete_row">
												<i class="ki-duotone ki-trash fs-3">
													<span class="path1"></span>
													<span class="path2"></span>
													<span class="path3"></span>
													<span class="path4"></span>
													<span class="path5"></span>
												</i>
											</button>
										</form>
									</td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
						<!--end::Table-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Card-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->
	</div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/plugins/custom/datatables/datatables.bundle.js')}}"></script>
<script src="{{asset('assets/plugins/custom/formrepeater/formrepeater.bundle.js')}}"></script>


<script src="{{asset('assets/js/custom/apps/user-management/permissions/list.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/user-management/permissions/add-permission.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/user-management/permissions/update-permission.js')}}"></script>

<script type="text/javascript">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
        Swal.fire({
            html: `{{message|raw}}`,
            icon: "{{type}}",
            buttonsStyling: false,
            confirmButtonText: "Ok, compris !",
            customClass: {
                confirmButton: "btn btn-primary"
            }
        });
        {% endfor %}
    {% endfor %}
</script>
{% endblock %}
