<!DOCTYPE html>
<!--
Author: Moussa Fofana
Product Name: Le Passage Lumière
Website: https://www.moussa-fofana.site
Email: hello@moussa-fofana.com
Contact: +225 07 471 612 21
-->
<html
	lang="fr">
	<!--begin::Head-->
	<head>
		<title>Connexion | ERP SIA</title>
		<meta charset="utf-8"/>
        <meta name="author" content="Digit Communication : Moussa Fofana" />
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
		<!--begin::Fonts(mandatory for all pages)-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

        <link href="{{asset('assets/css/styles.css')}}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section class="bg-primary" style="height: 100vh;">
            <div class="container d-flex flex-column flex-center h-100">
                <div class="row w-75">
                    <div class="col-md-5 bg-lightgrey"></div>
                    <div class="col-md-7 d-flex flex-column justofy-content- bg-light">
                        <img class="theme-light-show mx-auto mw-100 w-150px w-lg-300px mb-10 mb-lg-20" src="{{asset('assets/media/logos/sia.png')}}" alt=""/>
                        <!--begin::Form-->
                        <form
                            class="form p-4" novalidate="novalidate" id="kt_sign_in_form" data-kt-redirect-url="" action="#" method="POST">
                            <!--begin::Heading-->
                            <div
                                class="text-center mb-11">
                                <!--begin::Title-->
                                <h1 class="text-gray-900 fw-bolder mb-3">
                                    Connexion
                                </h1>
                                <!--end::Title-->
                            </div>
                            <!--begin::Heading-->

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <!--begin::Input group-->
                            <div
                                class="fv-row mb-8">
                                <!--begin::Email-->
                                <input
                                type="text" placeholder="Email" name="_username" autocomplete="off" class="form-control bg-transparent" value="{{ last_username }}"/>
                            <!--end::Email-->
                            </div>

                            <!--end::Input group-->
                            <div
                                class="fv-row mb-3">
                                <!--begin::Password-->
                                <input
                                type="password" placeholder="Mot de passe" name="_password" autocomplete="off" class="form-control bg-transparent"/>
                            <!--end::Password-->
                            </div>
                            <!--end::Input group-->

                            <input
                            type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <!--begin::Wrapper-->
                            <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
                                <div class="form-check form-check-custom form-check-info form-check-solid form-check-sm">
                                    <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                                    <label class="form-check-label" for="_remember_me">Rester connecté</label>
                                </div>

                                <!--begin::Link-->
                                <a href="" class="link-primary">
                                    Mot de passe oublié ?
                                </a>
                                <!--end::Link-->
                            </div>
                            <!--end::Wrapper-->

                            <!--begin::Submit button-->
                            <div class="d-grid mb-10">
                                <button
                                    type="submit" id="kt_sign_in_submit" class="btn btn-primary">

                                    <!--begin::Indicator label-->
                                    <span class="indicator-label">
                                        Se connecter</span>
                                    <!--end::Indicator label-->

                                    <!--begin::Indicator progress-->
                                    <span class="indicator-progress">
                                        Veuillez patienter...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                    <!--end::Indicator progress-->
                                </button>
                            </div>
                            <!--end::Submit button-->
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
            </div>
        </section>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    </body>
</html>