<!DOCTYPE html>
<!--
Author: Moussa Fofana
Product Name: Le Passage Lumière
Website: https://www.moussa-fofana.site
Email: hello@moussa-fofana.com
Contact: +225 07 471 612 21
-->
<html
	lang="fr">
	<!--begin::Head-->
	<head>
		<title>Vérification | ERP SIA</title>
		<meta charset="utf-8"/>
        <meta name="author" content="Digit Communication : Moussa Fofana" />
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
		<!--end::Fonts-->

		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="{{asset('assets/plugins/global/plugins.bundle.css')}}" rel="stylesheet" type="text/css"/> 
        <link href="{{asset('assets/css/style.bundle.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('assets/css/style.custom.css')}}" rel="stylesheet" type="text/css"/>
		<!--end::Global Stylesheets Bundle-->
    </head>
    <body>
        <div
            class="d-flex flex-column flex-root bg-primary-o" id="kt_app_root">
            
            <!--begin::Authentication - Signup Welcome Message -->
            <div
                class="d-flex flex-column flex-center flex-column-fluid">
                <!--begin::Content-->
                <div
                    class="d-flex flex-column flex-center p-10 h-lg-75">
                    <!--begin::Wrapper-->
                    <div class="card card-flush w-lg-950px h-100">
                        <div
                            class="card-body p-0 h-100">
                            
                            <div class="d-flex flex-column flex-column-fluid flex-lg-row rounded overflow-hidden h-100">
                                <div class="min-w-lg-350px bg-lightgrey" style="background: #c3c3c3 url({{asset('assets/media/bg/auth-screens.png')}}) center / contain no-repeat;"></div>
                                <div class="d-flex flex-column-fluid flex-lg-row-1 justify-content-center justify-content-lg-end">
                                    <div class="bg-body d-flex flex-column align-items-stretch flex-center w-100 p-20">
                                        <!--begin::Heading-->
                                        <div
                                            class="text-center mb-11">
                                            <!--begin::Title-->
                                            <h1 class="text-gray-900 fw-bolder mb-3">
                                                Vérifiez votre adresse email
                                            </h1>
                                            <!--end::Title-->

                                            <!--begin::Subtitle-->
                                            <div class="text-gray-500 fw-semibold fs-6 mb-8">
                                                <span class="fw-semibold text-gray-500">
                                                Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
                                                Ce lien expirera dans 
                                                {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                                                </span>
                                            </div>
                                            <!--end::Subtitle-->

                                            <!--begin::Actions-->
                                            <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                                                <a href="{{ path('app_forgot_password_request') }}" class="btn btn-primary me-4">
                                                    Renvoyer le mail
                                                </a>
                                                <a href="{{path('dashboard')}}" class="btn btn-light">
                                                    Pas maintenant
                                                </a>
                                            </div>
                                            <!--end::Actions-->
                                        </div>
                                        <!--begin::Heading-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Content-->
            </div>
        </div>
        
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
        <script src="{{asset('assets/plugins/global/plugins.bundle.js')}}"> </script>
		<script src="{{asset('assets/js/scripts.bundle.js')}}"></script>
		<!--end::Global Javascript Bundle-->
    </body>
</html>