<!DOCTYPE html>
<!--
Author: Moussa Fofana
Product Name: Le Passage Lumière
Website: https://www.moussa-fofana.site
Email: hello@moussa-fofana.com
Contact: +225 07 471 612 21
-->
<html
	lang="fr">
	<!--begin::Head-->
	<head>
		<title>Nouveau mot de passe | ERP SIA</title>
		<meta charset="utf-8"/>
        <meta name="author" content="Digit Communication : Moussa Fofana" />
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
		<!--end::Fonts-->

		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="{{asset('assets/plugins/global/plugins.bundle.css')}}" rel="stylesheet" type="text/css"/> 
        <link href="{{asset('assets/css/style.bundle.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('assets/css/style.custom.css')}}" rel="stylesheet" type="text/css"/>
		<!--end::Global Stylesheets Bundle-->
    </head>
    <body>
        <div
            class="d-flex flex-column flex-root bg-primary-o" id="kt_app_root">
            
            <!--begin::Authentication - Signup Welcome Message -->
            <div
                class="d-flex flex-column flex-center flex-column-fluid">
                <!--begin::Content-->
                <div
                    class="d-flex flex-column flex-center p-10 h-lg-75">
                    <!--begin::Wrapper-->
                    <div class="card card-flush w-lg-950px h-100">
                        <div
                            class="card-body h-100 p-0">
                            
                            <div class="d-flex flex-column flex-column-fluid flex-lg-row rounded overflow-hidden h-100">
                                <div class="min-w-lg-350px bg-lightgrey" style="background: #c3c3c3 url({{asset('assets/media/bg/auth-screens.png')}}) center / contain no-repeat;"></div>
                                <div class="d-flex flex-column-fluid flex-lg-row-1 justify-content-center justify-content-lg-end">
                                    <div class="bg-body d-flex flex-column align-items-stretch flex-center w-100 p-20">
                                        <!--begin::Form-->
                                        {{ form_start(resetForm, {'attr': {'id': 'kt_new_password_form', 'class': 'form w-100', 'novalidate': 'novalidate', 'data-kt-redirect-url': ''}}) }}
                                            <!--begin::Heading-->
                                            <div
                                                class="text-center mb-11">
                                                <!--begin::Title-->
                                                <h1 class="text-gray-900 fw-bolder mb-3">
                                                    Nouveau mot de passe
                                                </h1>
                                                <!--end::Title-->

                                                <!--begin::Link-->
                                                <div class="text-gray-500 fw-semibold fs-6">
                                                    Avez-vous déjà réinitialisé le mot de passe ?

                                                    <a href="{{path('login')}}" class="link-primary fw-bold">
                                                        Connectez-vous
                                                    </a>
                                                </div>
                                                <!--end::Link-->
                                            </div>
                                            <!--begin::Heading-->

                                            {% if form_errors(resetForm.plainPassword.first) %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form_errors(resetForm.plainPassword.first) }}
                                                </div>
                                            {% endif %}

                                            <!--begin::Input group-->
                                            <div
                                                class="fv-row mb-8" data-kt-password-meter="true">
                                                <!--begin::Wrapper-->
                                                <div
                                                    class="mb-1">
                                                    <label class="fs-6 mb-2" for="change_password_form_plainPassword_first">Nouveau mot de passe</label>
                                                    <!--begin::Input wrapper-->
                                                    <div class="position-relative mb-3">
                                                        {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control bg-transparent', 'placeholder': '', 'autocomplete': 'off'}}) }}

                                                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                                            <i class="ki-duotone ki-eye-slash fs-2"></i>
                                                            <i class="ki-duotone ki-eye fs-2 d-none"></i>
                                                        </span>
                                                    </div>
                                                    <!--end::Input wrapper-->

                                                    <!--begin::Meter-->
                                                    <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                                                    </div>
                                                    <!--end::Meter-->
                                                </div>
                                                <!--end::Wrapper-->

                                                <!--begin::Hint-->
                                                <div class="text-muted">
                                                    Utilisez 8 caractères ou plus avec un mélange de lettres, de chiffres et de symboles.
                                                </div>
                                                <!--end::Hint-->
                                            </div>
                                            <!--end::Input group-->

                                            <!--end::Input group-->
                                            <div
                                                class="fv-row mb-8">
                                                <label class="fs-6 mb-2" for="change_password_form_plainPassword_second">Confirmer le mot de passe</label>
                                                <!--begin::Repeat Password-->
                                                {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control bg-transparent', 'placeholder': '', 'autocomplete': 'off'}}) }}
                                            <!--end::Repeat Password-->
                                            </div>
                                            <!--end::Input group-->

                                            <!--begin::Action-->
                                            <div class="d-grid mb-10">
                                                <button
                                                    type="submit" id="kt_new_password_submit" class="btn btn-primary">

                                                    <!--begin::Indicator label-->
                                                    <span class="indicator-label">
                                                        Soumettre</span>
                                                    <!--end::Indicator label-->

                                                    <!--begin::Indicator progress-->
                                                    <span class="indicator-progress">
                                                        Veuillez patienter...
                                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                    </span>
                                                    <!--end::Indicator progress-->
                                                </button>
                                            </div>
                                            <!--end::Action-->
                                        {{ form_end(resetForm) }}
                                        <!--end::Form-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
        <script src="{{asset('assets/plugins/global/plugins.bundle.js')}}"> </script>
		<script src="{{asset('assets/js/scripts.bundle.js')}}"></script>
		<!--end::Global Javascript Bundle-->

		<script src="{{asset('assets/js/custom/authentication/reset-password/new-password.js')}}"></script>
    </body>
</html>