{% extends "layout.html.twig" %}

{% block title type|capitalize %}

{% block stylesheets %}
	<link href="{{asset('assets/plugins/custom/datatables/datatables.bundle.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
	<div
		class="d-flex flex-column flex-column-fluid">

		<!--begin::Toolbar-->
		<div
			id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">

			<!--begin::Toolbar container-->
			<div
				id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">

			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->

		<!--begin::Content-->
		<div
			id="kt_app_content" class="app-content  flex-column-fluid ">


			<!--begin::Content container-->
			<div
				id="kt_app_content_container" class="app-container  container-xxl ">
				<!--begin::Card-->
				<div
					class="card card-flush pb-0 bgi-position-y-center bgi-no-repeat mb-10" style="background-size: auto calc(100% + 10rem); background-position-x: 100%; background-image: url({{asset('assets/media/illustrations/sketchy-1/4.png')}})">

					<!--begin::Card header-->
					<div class="card-header pt-10">
						<div
							class="d-flex align-items-center">
							<!--begin::Icon-->
							<div class="symbol symbol-circle me-5">
								<div class="symbol-label bg-transparent text-primary border border-secondary border-dashed">
									<i class="ki-duotone ki-abstract-47 fs-2x text-primary">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</div>
							</div>
							<!--end::Icon-->

							<!--begin::Title-->
							<div class="d-flex flex-column">
								<h2 class="mb-1">Bordereau des Prix Unitaires</h2>
								<div class="text-muted fw-bold">
									<a href="{{path('acceuil')}}">Acceuil</a>
									<span class="mx-3">|</span>
									<a href="#">App</a>
									<span class="mx-3">|</span>
									<a href="#">Bordereau des Prix Unitaires</a>
									<span class="mx-3">|</span>
									758 éléments
								</div>
							</div>
							<!--end::Title-->
						</div>
					</div>
					<!--end::Card header-->

					<!--begin::Card body-->
					<div
						class="card-body pb-0">
						<!--begin::Navs-->
						<div class="d-flex overflow-auto h-55px">
							<ul
								class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-semibold flex-nowrap">
								<!--begin::Nav item-->
								{# <li class="nav-item">
									<a class="nav-link text-active-primary me-6 active" href="/metronic8/demo1/apps/file-manager/folders.html">
										Files
									</a>
								</li>
								<!--end::Nav item-->

								<!--begin::Nav item-->
								<li class="nav-item">
									<a class="nav-link text-active-primary me-6" href="/metronic8/demo1/apps/file-manager/settings.html">
										Settings
									</a>
								</li> #}
								<!--end::Nav item-->
							</ul>
						</div>
						<!--begin::Navs-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Card-->

				<!--begin::Card-->
				<div
					class="card card-flush">
					<!--begin::Card header-->
					<div class="card-header pt-8">
						<div
							class="card-title">
							<!--begin::Search-->
							<div class="d-flex align-items-center position-relative my-1">
								<i class="ki-duotone ki-magnifier fs-1 position-absolute ms-6">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
								<input type="text" data-kt-filemanager-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Rechercher un(e) {{type}}"/>
							</div>
							<!--end::Search-->
						</div>

						<!--begin::Card toolbar-->
						<div
							class="card-toolbar">
							<!--begin::Toolbar-->
							<div
								class="d-flex justify-content-end" data-kt-filemanager-table-toolbar="base">
								<!--begin::Add Param-->
								<button type="button" class="btn btn-flex btn-light-primary me-3" id="kt_file_manager_new_folder">
									<i class="ki-duotone ki-add-folder fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
									Ajouter un(e) {{type}}
								</button>
								<!--end::Add Param-->
							</div>
							<!--end::Toolbar-->

							<!--begin::Group actions-->
							<div class="d-flex justify-content-end align-items-center d-none" data-kt-filemanager-table-toolbar="selected">
								<div class="fw-bold me-5">
									<span class="me-2" data-kt-filemanager-table-select="selected_count"></span>
									Sélectionné(s)
								</div>

								<button type="button" class="btn btn-danger" data-kt-filemanager-table-select="delete_selected" data-deleted-root="{{path('param_selected_delete')}}">
									Supprimer la sélection
								</button>
							</div>
							<!--end::Group actions-->
						</div>
						<!--end::Card toolbar-->
					</div>
					<!--end::Card header-->

					<!--begin::Card body-->
					<div
						class="card-body">
						<!--begin::Table header-->
						<div
							class="d-flex flex-stack">
							<!--begin::Folder path-->
							<div class="badge badge-lg badge-light-primary">
								<div class="d-flex align-items-center flex-wrap">
									<i class="ki-duotone ki-abstract-32 fs-2 text-primary me-3">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
									{% set pathParts = [
										parent.parent.parent ?? null,
										parent.parent ?? null,
										parent ?? null
									] %}

									{% for part in pathParts %}
										{% if part and part.libelle %}
											<a href="{{path('param_type', {type: part.type, parent: (part.parent ? part.parent.id : null)})}}">{{ part.libelle }}</a>
											<i class="ki-duotone ki-right fs-2 text-primary mx-1"></i>
										{% endif %}
									{% endfor %}

									{{ type }}
								</div>
							</div>
							<!--end::Folder path-->

							<!--begin::Folder Stats-->
							<div class="badge badge-lg badge-primary">
								<span id="kt_file_manager_items_counter">{{parametres|length}} éléments</span>
							</div>
							<!--end::Folder Stats-->
						</div>
						<!--end::Table header-->
						{% if type == 'categories' %}{% set routeType = 'sous-categories' %}
						{% elseif type == 'sous-categories' %}{% set routeType = 'rubriques' %}
						{% elseif type == 'rubriques' %}{% set routeType = 'bpu' %}
						{% else %}{% set routeType = type %}{% endif %}

						<!--begin::Table-->
						<table id="kt_file_manager_list" data-kt-filemanager-table="folders" class="table align-middle table-row-dashed fs-6 gy-5">
							<thead>
								<tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
									<th class="w-10px pe-2">
										<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
											<input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_file_manager_list .form-check-input" value="1"/>
										</div>
									</th>
									<th class="min-w-250px">{{type|capitalize}}</th>
									<th class="min-w-10px">Éléments</th>
									<th class="min-w-100px">Type</th>
									<th class="min-w-125px">Dernière modification</th>
									<th class="w-125px"></th>
								</tr>
							</thead>
							<tbody class="fw-semibold text-gray-600">
								{% for param in parametres %}
								{% set pathRoute = type == "rubriques" ? path('bpu_list', {parent: param.id}) : path('param_type', {type: routeType, parent: param.id}) %}
								<tr>
									<td>
										<div class="form-check form-check-sm form-check-custom form-check-solid">
											<input class="form-check-input" type="checkbox" value="{{param.id}}"/>
										</div>
									</td>
									<td data-order="account">
										<div class="d-flex align-items-center">
											<span class="icon-wrapper">
												<i class="ki-duotone ki-folder fs-2x text-primary me-4">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</span>
											<a href="{{pathRoute}}" class="text-gray-800 text-hover-primary">{{param.libelle}}</a>
										</div>
									</td>
									<td>
										{{ type == "rubriques" ? param.bpu|length : param.children|length }}
									</td>
									<td>
										{{routeType}}
									</td>
									<td>
										{{param.updatedAt|date('d M Y, H:m')}}
									</td>
									<td class="text-end" data-kt-filemanager-table="action_dropdown">
										<div
											class="d-flex justify-content-end">
											<!--begin::Edit link-->
											<div class="ms-2" data-kt-filemanger-table="copy_link">
												<button href="#" type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-kt-filemanager-table="rename">
													<i class="ki-duotone ki-notepad-edit fs-5 m-0">
														<span class="path1"></span>
														<span class="path2"></span>
													</i>
												</button>
												<!--end::Edit link-->
											</div>

											<!--begin::More-->
											<div class="ms-2">
												<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
													<i class="ki-duotone ki-dots-square fs-5 m-0">
														<span class="path1"></span>
														<span class="path2"></span>
														<span class="path3"></span>
														<span class="path4"></span>
													</i>
												</button>
												<!--begin::Menu-->
												<div
													class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4" data-kt-menu="true">
													<!--begin::Menu item-->
													<div class="menu-item px-3">
														<a href="{{pathRoute}}" class="menu-link px-3">
															Voir
														</a>
													</div>
													<!--end::Menu item-->

													<!--begin::Menu item-->
													<form class="menu-item px-3" method="post" action="{{ path('param_delete', {'param': param.id}) }}">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ param.id) }}">
														<a href="#" class="menu-link text-danger px-3" data-kt-filemanager-table-filter="delete_row">
															Supprimer
														</a>
													</form>
													<!--end::Menu item-->
												</div>
												<!--end::Menu-->
												<!--end::More-->
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<!--end::Table-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Card-->
				<!--begin::Upload template-->
				<table class="d-none">
					<tr id="kt_file_manager_new_folder_row" data-kt-filemanager-template="upload">
						<td></td>
						<td id="kt_file_manager_add_folder_form" class="fv-row">
							{{form_start(new_form, {'attr': {'id': '', 'class': 'd-flex align-items-center'}})}}
								<!--begin::Folder icon-->
								<span id="kt_file_manager_folder_icon">
									<i class="ki-duotone ki-folder fs-2x text-primary me-4">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<!--end::Folder icon-->

								<!--begin:Input-->
								{{form_widget(new_form.libelle, {'attr': {'placeholder': 'Entrer un libellé', 'class': 'form-control mw-250px me-3'}})}}
								<!--end:Input-->

								<!--begin:Submit button-->
								<button class="btn btn-icon btn-light-primary me-3" id="kt_file_manager_add_folder"> <span class="indicator-label">
										<i class="ki-duotone ki-check fs-1"></i>
									</span>
									<span class="indicator-progress">
										<span class="spinner-border spinner-border-sm align-middle"></span>
									</span>
								</button>
								<!--end:Submit button-->

								<!--begin:Cancel button-->
								<button class="btn btn-icon btn-light-danger" id="kt_file_manager_cancel_folder">
									<span class="indicator-label">
										<i class="ki-duotone ki-cross fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</span>
									<span class="indicator-progress">
										<span class="spinner-border spinner-border-sm align-middle"></span>
									</span>
								</button>
								<!--end:Cancel button-->
							{{form_end(new_form)}}
						</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
				<!--end::Upload template-->

				<!--begin::Rename template-->
				<div class="d-none" data-kt-filemanager-template="rename">
					<form id="form-edit-param" action="{{path('param_edit')}}" method="POST">
						<div class="fv-row">
							<div class="d-flex align-items-center">
								<span id="kt_file_manager_rename_folder_icon"></span>
								<input type="hidden" name="param_id">
								<input type="text" id="kt_file_manager_rename_input" name="param_libelle" placeholder="Entrer le nouveau libellé" class="form-control mw-250px me-3" value=""/>
								<button class="btn btn-icon btn-light-primary me-3" id="kt_file_manager_rename_folder">
									<i class="ki-duotone ki-check fs-1"></i>
								</button>
								<button class="btn btn-icon btn-light-danger" id="kt_file_manager_rename_folder_cancel">
									<span class="indicator-label">
										<i class="ki-duotone ki-cross fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</span>
									<span class="indicator-progress">
										<span class="spinner-border spinner-border-sm align-middle"></span>
									</span>
								</button>
							</div>
						</div>
					</form>
				</div>
				<!--end::Rename template-->

				<!--begin::Action template-->
				<div class="d-none" data-kt-filemanager-template="action">
					<div
						class="d-flex justify-content-end">
						<!--begin::Share link-->
						<div class="ms-2" data-kt-filemanger-table="copy_link">
							<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
								<i class="ki-duotone ki-fasten fs-5 m-0">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</button>
							<!--begin::Menu-->
							<div
								class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-300px" data-kt-menu="true">
								<!--begin::Card-->
								<div class="card card-flush">
									<div
										class="card-body p-5">
										<!--begin::Loader-->
										<div
											class="d-flex" data-kt-filemanger-table="copy_link_generator">
											<!--begin::Spinner-->
											<div class="me-5" data-kt-indicator="on">
												<span class="indicator-progress">
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
												</span>
											</div>
											<!--end::Spinner-->

											<!--begin::Label-->
											<div class="fs-6 text-gray-900">Generating Share Link...</div>
											<!--end::Label-->
										</div>
										<!--end::Loader-->

										<!--begin::Link-->
										<div class="d-flex flex-column text-start d-none" data-kt-filemanger-table="copy_link_result">
											<div class="d-flex mb-3">
												<i class="ki-duotone ki-check fs-2 text-success me-3"></i>
												<div class="fs-6 text-gray-900">Share Link Generated</div>
											</div>
											<input type="text" class="form-control form-control-sm" value="https://path/to/file/or/folder/"/>
											<div class="text-muted fw-normal mt-2 fs-8 px-3">Read only.
												<a href="/metronic8/demo1/apps/file-manager/settings/.html" class="ms-2">Change permissions</a>
											</div>
										</div>
										<!--end::Link-->
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Menu-->
						</div>
						<!--end::Share link-->

						<!--begin::More-->
						<div class="ms-2">
							<button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
								<i class="ki-duotone ki-dots-square fs-5 m-0">
									<span class="path1"></span>
									<span class="path2"></span>
									<span class="path3"></span>
									<span class="path4"></span>
								</i>
							</button>
							<!--begin::Menu-->
							<div
								class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4" data-kt-menu="true">
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3">
										Download File
									</a>
								</div>
								<!--end::Menu item-->

								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3" data-kt-filemanager-table="rename">
										Rename
									</a>
								</div>
								<!--end::Menu item-->

								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3" data-kt-filemanager-table-filter="move_row" data-bs-toggle="modal" data-bs-target="#kt_modal_move_to_folder">
										Move to folder
									</a>
								</div>
								<!--end::Menu item-->

								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link text-danger px-3" data-kt-filemanager-table-filter="delete_row">
										Delete
									</a>
								</div>
								<!--end::Menu item-->
							</div>
							<!--end::Menu-->
						</div>
						<!--end::More-->
					</div>
				</div>
				<!--end::Action template-->

				<!--begin::Checkbox template-->
				<div class="d-none" data-kt-filemanager-template="checkbox">
					<div class="form-check form-check-sm form-check-custom form-check-solid"><input class="form-check-input" type="checkbox" value="1"/></div>
				</div>
				<!--end::Checkbox template-->
				<!--begin::Modals-->

				<!--begin::Modal - Upload File-->
				<div
					class="modal fade" id="kt_modal_upload" tabindex="-1" aria-hidden="true"> <!--begin::Modal dialog-->
					<div
						class="modal-dialog modal-dialog-centered mw-650px">
						<!--begin::Modal content-->
						<div
							class="modal-content">
							<!--begin::Form-->
							<form
								class="form" action="none" id="kt_modal_upload_form">
								<!--begin::Modal header-->
								<div
									class="modal-header">
									<!--begin::Modal title-->
									<h2 class="fw-bold">Upload files</h2>
									<!--end::Modal title-->

									<!--begin::Close-->
									<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
										<i class="ki-duotone ki-cross fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
									</div>
									<!--end::Close-->
								</div>
								<!--end::Modal header-->

								<!--begin::Modal body-->
								<div
									class="modal-body pt-10 pb-15 px-lg-17">
									<!--begin::Input group-->
									
									<!--end::Input group-->
								</div>
								<!--end::Modal body-->
							</form>
							<!--end::Form-->
						</div>
					</div>
				</div>
				<!--end::Modal - Upload File-->
				<!--end::Modals-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->

	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/plugins/custom/datatables/datatables.bundle.js')}}"></script>
	<script src="{{asset('assets/js/custom/apps/file-manager/list.js')}}"></script>

	<script type="text/javascript">
		var hostUrl = "{{asset('assets/')}}";

		{% for typeMsg, messages in app.flashes %}
			{% for message in messages %}
			Swal.fire({
				html: `{{message|raw}}`,
				icon: "{{typeMsg}}",
				buttonsStyling: false,
				confirmButtonText: "Ok, compris !",
				customClass: {
					confirmButton: "btn btn-primary"
				}
			});
			{% endfor %}
		{% endfor %}
	</script>
{% endblock %}
