{% extends "layout.html.twig" %}

{% block stylesheet %}
<link href="{{asset('assets/plugins/custom/datatables/datatables.bundle.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
	<div
		class="d-flex flex-column flex-column-fluid">

		<!--begin::Toolbar-->
		<div
			id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">

			<!--begin::Toolbar container-->
			<div
				id="kt_app_toolbar_container" class="app-container container-xxl">
				
				{# <div class="bg-primary-o h-150px rounded d-flex flex-stack p-5 p-md-10">
					<!--begin::Page title-->
					<div
						class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
						<!--begin::Title-->
						<h1 class="page-heading d-flex text-gray-100 fw-bold fs-3 flex-column justify-content-center my-0">
							{{client.nom}}
						</h1>
						<!--end::Title-->


						<!--begin::Breadcrumb-->
						<ul
							class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								<a href="{{path('dashboard')}}" class="text-muted text-hover-primary">
									Accueil
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="breadcrumb-item">
								<span class="bullet bg-gray-500 w-5px h-2px"></span>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								<a href="{{path('liste_clients')}}" class="text-muted text-hover-primary">Liste des clients</a>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								<a href="{{path('detail_client', {client: client.id})}}" class="text-muted text-hover-primary">{{client.nom}}</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="breadcrumb-item">
								<span class="bullet bg-gray-500 w-5px h-2px"></span>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								Détails
							</li>
							<!--end::Item-->

						</ul>
						<!--end::Breadcrumb-->
					</div>
					<!--end::Page title-->
				</div> #}
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->

		<!--begin::Content-->
		<div
			id="kt_app_content" class="app-content  flex-column-fluid ">


			<!--begin::Content container-->
			<div
				id="kt_app_content_container" class="app-container  container-xxl ">
				<!--begin::Layout-->
				<div
					class="d-flex flex-column flex-xl-row">
					<!--begin::Container-->
					<div
						id="kt_content_container" class=" container-xxl ">
						<!--begin::Layout-->
						<div
							class="d-flex flex-column flex-xl-row">
							<!--begin::Sidebar-->
							<div
								class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">

								<!--begin::Card-->
								<div
									class="card mb-5 mb-xl-8">
									<!--begin::Card body-->
									<div
										class="card-body pt-15">
										<!--begin::Summary-->
										<div
											class="d-flex flex-center flex-column mb-5">
											<!--begin::Avatar-->
											<div class="symbol symbol-150px symbol-circle mb-7">
												<img src="{{asset('assets/media/svg/avatars/blank.svg')}}" alt="image"/>
											</div>
											<!--end::Avatar-->

											<!--begin::Name-->
											<a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">
												{{client.nom}}
											</a>
											<!--end::Name-->

											<!--begin::Email-->
											<a href="#" class="fs-5 fw-semibold text-muted text-hover-primary mb-6">
												{{client.telephone}}
											</a>
											<!--end::Email-->
										</div>
										<!--end::Summary-->

										<!--begin::Details toggle-->
										<div class="d-flex flex-stack fs-4 py-3">
											<div class="fw-bold">
												Détails
											</div>

											<!--begin::Badge-->
											<div class="badge badge-light-secondary d-inline">Client.categorie.libelle</div>
											<!--begin::Badge-->
										</div>
										<!--end::Details toggle-->

										<div class="separator separator-dashed my-3"></div>

										<!--begin::Details content-->
										<div
											class="pb-5 fs-6">
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Identifiant</div>
											<div class="text-gray-600">ID-{{client.id}}</div>
											<!--begin::Details item-->
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Email</div>
											<div class="text-gray-600">
												<a href="mailto:{{client.email|default('')}}" class="text-gray-600 text-hover-primary">{{client.email|default('')}}</a>
											</div>
											<!--begin::Details item-->
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Adresse</div>
											<div class="text-gray-600">{{client.adresse ? client.adresse ~', ' : ''}}
												<br/>{{client.commune ? client.commune ~', ' : ''}}{{client.ville}}</div>
											<!--begin::Details item-->
										</div>
										<!--end::Details content-->
									</div>
									<!--end::Card body-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Sidebar-->

							<!--begin::Content-->
							<div
								class="flex-lg-row-fluid ms-lg-15">
								<!--begin:::Tabs-->
								<ul
									class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
									<!--begin:::Tab item-->
									<li class="nav-item">
										<a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_customer_overview">Aperçu</a>
									</li>
									<!--end:::Tab item-->

									<!--begin:::Tab item-->
									<li class="nav-item">
										<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_customer_general">Réglage général</a>
									</li>
									<!--end:::Tab item-->

									<!--begin:::Tab item-->
									{# <li class="nav-item">
										<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_customer_advanced">Advanced Settings</a>
									</li> #}
									<!--end:::Tab item-->
								</ul>
								<!--end:::Tabs-->

								<!--begin:::Tab content-->
								<div
									class="tab-content" id="myTabContent">
									<!--begin:::Tab pane-->
									<div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
										<div class="row row-cols-1 row-cols-md-2 mb-6 mb-xl-9">
											<div
												class="col">
												<!--begin::Card-->
												<div
													class="card pt-4 h-md-100 mb-6 mb-md-0">
													<!--begin::Card header-->
													<div
														class="card-header border-0">
														<!--begin::Card title-->
														<div class="card-title">
															<h2 class="fw-bold">Total dépenses</h2>
														</div>
														<!--end::Card title-->
													</div>
													<!--end::Card header-->

													<!--begin::Card body-->
													<div class="card-body pt-0">
														<div class="fw-bold fs-2">
															<div class="d-flex">
																<i class="ki-duotone ki-heart text-info fs-2x">
																	<span class="path1"></span>
																	<span class="path2"></span>
																</i>
																<div class="ms-2">
																	4,571
																	<span class="text-muted fs-4 fw-semibold">F CFA</span>
																</div>
															</div>
															<div class="fs-7 fw-normal text-muted">Il s'agit ici de l'ensemble des montant reversé au client.</div>
														</div>
													</div>
													<!--end::Card body-->
												</div>
												<!--end::Card-->
											</div>

											<div
												class="col">
												<!--begin::Reward Tier-->
												<a
													href="#" class="card bg-info hoverable h-md-100">
													<!--begin::Body-->
													<div class="card-body">
														<i class="ki-duotone ki-award text-white fs-3x ms-n1">
															<span class="path1"></span>
															<span class="path2"></span>
															<span class="path3"></span>
														</i>
														<div class="text-white fw-bold fs-2 mt-5">
															Client.categorie.libelle
														</div>

														<div class="fw-semibold text-white">
															Client.categorie.description
														</div>
													</div>
													<!--end::Body-->
												</a>
												<!--end::Reward Tier-->
											</div>
										</div>


										<!--begin::Card-->
										<div
											class="card pt-4 mb-6 mb-xl-9">
											<!--begin::Card header-->
											<div
												class="card-header border-0">
												<!--begin::Card title-->
												<div class="card-title">
													<h2>Historique des contrats</h2>
												</div>
												<!--end::Card title-->
											</div>
											<!--end::Card header-->

											<!--begin::Card body-->
											<div
												class="card-body pt-0 pb-5">
												<!--begin::Table-->
												<table class="table align-middle table-row-dashed gy-5" id="kt_table_customers_payment">
													<thead class="border-bottom border-gray-200 fs-7 fw-bold">
														<tr class="text-start text-muted text-uppercase gs-0">
															<th class="min-w-100px">No. contrat</th>
															<th>Status</th>
															<th>Montant</th>
															<th class="min-w-100px">Projet</th>
															<th class="min-w-100px">Date</th>
														</tr>
													</thead>
													<tbody class="fs-6 fw-semibold text-gray-600">
														{% for contrat in client.contrats %}
														<tr>
															<td>
																<a href="{{path('contrat_details', {contrat: contrat.id})}}" class="text-gray-600 text-hover-primary mb-1">#14492</a>
															</td>
															<td>
																<span class="badge badge-light-success">{{contrat.statut}}</span>
															</td>
															<td>
																{{contrat.montant}}
															</td>
															<td>
																{{contrat.projet.nom}}
															</td>
															<td>
																{{contrat.createdAt|date('d M Y')}}
															</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
												<!--end::Table-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Card-->
									</div>
									<!--end:::Tab pane-->

									<!--begin:::Tab pane-->
									<div
										class="tab-pane fade" id="kt_ecommerce_customer_general" role="tabpanel">
										<!--begin::Card-->
										<div
											class="card pt-4 mb-6 mb-xl-9">
											<!--begin::Card header-->
											<div
												class="card-header border-0">
												<!--begin::Card title-->
												<div class="card-title">
													<h2>Profil</h2>
												</div>
												<!--end::Card title-->
											</div>
											<!--end::Card header-->

											<!--begin::Card body-->
											<div
												class="card-body pt-0 pb-5">
												<!--begin::Form-->
												{{form_start(edit_client, {'attr': {'id': 'kt_ecommerce_customer_profile', 'class': 'form'}})}}
													<!--begin::Input group-->
													{# <div
														class="mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">
															<span>Avatar</span>

															<span class="ms-1" data-bs-toggle="tooltip" title="Allowed file types: png, jpg, jpeg.">
																<i class="ki-duotone ki-information fs-7">
																	<span class="path1"></span>
																	<span class="path2"></span>
																	<span class="path3"></span>
																</i>
															</span>
														</label>
														<!--end::Label-->

														<!--begin::Image input wrapper-->
														<div
															class="mt-1">
															<!--begin::Image input placeholder-->
															<style>
																.image-input-placeholder {
																	background-image: url('/metronic8/demo10/assets/media/svg/files/blank-image.svg');
																}

																[data-bs-theme="dark"] .image-input-placeholder {
																	background-image: url('/metronic8/demo10/assets/media/svg/files/blank-image-dark.svg');
																}
															</style>
															<!--end::Image input placeholder-->

															<!--begin::Image input-->
															<div
																class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true">
																<!--begin::Preview existing avatar-->
																<div class="image-input-wrapper w-125px h-125px" style="background-image: url(/metronic8/demo10/assets/media/avatars/300-1.jpg)"></div>
																<!--end::Preview existing avatar-->

																<!--begin::Edit-->
																<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
																	<i class="ki-duotone ki-pencil fs-7">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																	<!--begin::Inputs-->
																	<input type="file" name="avatar" accept=".png, .jpg, .jpeg"/>
																	<input
																	type="hidden" name="avatar_remove"/>
																<!--end::Inputs-->
																</label>
																<!--end::Edit-->

																<!--begin::Cancel-->
																<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
																	<i class="ki-duotone ki-cross fs-2">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																</span>
																<!--end::Cancel-->

																<!--begin::Remove-->
																<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
																	<i class="ki-duotone ki-cross fs-2">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																</span>
																<!--end::Remove-->
															</div>
															<!--end::Image input-->
														</div>
														<!--end::Image input wrapper-->
													</div> #}
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2 required">Nom ou raison sociale</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.nom, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Nom ou raison sociale'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2 required">Registre de commerce</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.registreCommerce, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer le registre de commerce'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2 required">Régime d'imposition</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.regimeImposition, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer le régime d\'imposition'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Row-->
													<div
														class="row row-cols-1 row-cols-md-2">
														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span class="required">Téléphone</span>

																	<span class="ms-1" data-bs-toggle="tooltip" title="Email address must be active">
																		<i class="ki-duotone ki-information fs-7">
																			<span class="path1"></span>
																			<span class="path2"></span>
																			<span class="path3"></span>
																		</i>
																	</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.telephone, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Numéro de téléphone'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->

														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span>Email</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.email, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Adresse email'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->
													</div>
													<!--end::Row-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="required fs-6 fw-semibold mb-2">Site internet</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.siteWeb, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer l\'adresse du site internet'}})}}
														<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="required fs-6 fw-semibold mb-2">Boite postale</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.boitePostale, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer l\'adresse postale'}})}}
														<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">Adresse</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.adresse, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer l\'adresse complète'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Row-->
													<div
														class="row row-cols-1 row-cols-md-2">
														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span class="">Commune</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.commune, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Le nom de la commune'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->

														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span>Ville</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.ville, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Le nom dela ville'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->
													</div>
													<!--end::Row-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-15">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">Description</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.description, {'attr': {'class': 'form-control form-control-solid', 'placeholder': ''}})}}
														<!--end::Input-->
													</div>
													<!--end::Input group-->

													<div
														class="d-flex justify-content-end">
														<!--begin::Button-->
														<button type="submit" id="kt_ecommerce_customer_profile_submit" class="btn btn-light-primary">
															<span class="indicator-label">
																Enregistrer
															</span>
															<span class="indicator-progress">
																Veuillez patienter...
																<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
															</span>
														</button>
														<!--end::Button-->
													</div>
												{{form_end(edit_client)}}
												<!--end::Form-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Card-->

									</div>
									<!--end:::Tab pane-->

									<!--begin:::Tab pane-->
									{# <div
										class="tab-pane fade" id="kt_ecommerce_customer_advanced" role="tabpanel">
										<!--begin::Card-->
										<div
											class="card pt-4 mb-6 mb-xl-9">
											<!--begin::Card header-->
											<div
												class="card-header border-0">
												<!--begin::Card title-->
												<div class="card-title">
													<h2>Security Details</h2>
												</div>
												<!--end::Card title-->
											</div>
											<!--end::Card header-->

											<!--begin::Card body-->
											<div
												class="card-body pt-0 pb-5">
												<!--begin::Table wrapper-->
												
												<!--end::Table wrapper-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Card-->
									</div> #}
									<!--end:::Tab pane-->
								</div>
								<!--end:::Tab content-->
							</div>
							<!--end::Content-->
						</div>
						<!--end::Layout-->

						<!--begin::Modals-->
						<!--begin::Modal - Update Enfant-->
						<div
							class="modal fade" id="kt_modal_update_address" tabindex="-1" aria-hidden="true"> <!--begin::Modal dialog-->
							<div
								class="modal-dialog modal-dialog-centered mw-650px">
								<!--begin::Modal content-->
								<div
									class="modal-content">
									<!--begin::Form-->
									<form
									class="form" action="" method="POST" id="kt_modal_update_address_form">
										<!--begin::Modal header-->
										<div
											class="modal-header" id="kt_modal_update_address_header">
											<!--begin::Modal title-->
											<h2 class="fw-bold">Modifier un enfant</h2>
											<!--end::Modal title-->

											<!--begin::Close-->
											<div id="kt_modal_update_address_close" class="btn btn-icon btn-sm btn-active-icon-primary">
												<i class="ki-duotone ki-cross fs-1">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</div>
											<!--end::Close-->
										</div>
										<!--end::Modal header-->

										<!--begin::Modal body-->
										<div
											class="modal-body py-10 px-lg-17">
											<!--begin::Input group-->
											<div
												class="d-flex flex-column mb-7 fv-row">
												<!--begin::Label-->
												<label class="fs-6 fw-semibold mb-2 required">Nom complet</label>
												<!--end::Label-->

												<!--begin::Input-->
												<input
												class="form-control form-control-solid" placeholder="" name="enfant_nom" value=""/>
												<input type="hidden" name="enfant_id">
											<!--end::Input-->
											</div>
											<!--end::Input group-->

											<!--begin::Input wrapper-->
											<div class="mb-10">
												<!--begin::Label-->
												<label class="fs-6 fw-semibold mb-2">
													Âge de l'enfant

													<span class="m2-1" data-bs-toggle="tooltip" title="Choisir l'âge selon le nombre de mois ou d'années">
														<i class="ki-duotone ki-information fs-7"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
													</span>
												</label>
												<!--end::Label-->

												<!--begin::Slider-->
												<div class="d-flex flex-column text-center">
													<div class="d-flex align-items-start justify-content-center mb-7">
														<span class="fw-bold fs-3x" id="kt_modal_update_enfant_age_label"></span>
													</div>
													<div id="kt_modal_update_enfant_age_slider" class="noUi-sm"></div>
												</div>
												<!--end::Slider-->
												<input type="hidden" id="enfant_age" name="enfant_age">
											</div>
											<!--end::Input wrapper-->

											<!--begin::Input group-->
											<div
												class="row g-9 mb-7">
												<!--begin::Col-->
												<div
													class="col-md-6 fv-row">
													<!--begin::Label-->
													<label class="fs-6 fw-semibold mb-2">Taille</label>
													<!--end::Label-->
													
													<!--begin::Dialer-->
													<div class="position-relative"
														data-kt-dialer="true"
														data-kt-dialer-min="0"
														data-kt-dialer-max="2"
														data-kt-dialer-step="0.10"
														data-kt-dialer-suffix="cm"
														data-kt-dialer-decimals="2">

														<!--begin::Decrease control-->
														<button type="button" class="btn btn-icon btn-active-color-gray-700 position-absolute translate-middle-y top-50 start-0" data-kt-dialer-control="decrease">
															<i class="ki-duotone ki-minus-square fs-2"><span class="path1"></span><span class="path2"></span></i>
														</button>
														<!--end::Decrease control-->

														<!--begin::Input control-->
														<input type="text" class="form-control form-control-solid border-0 ps-12" data-kt-dialer-control="input" placeholder="Amount" name="enfant_taille" readonly value="1.20" />
														<!--end::Input control-->

														<!--begin::Increase control-->
														<button type="button" class="btn btn-icon btn-active-color-gray-700 position-absolute translate-middle-y top-50 end-0" data-kt-dialer-control="increase">
															<i class="ki-duotone ki-plus-square fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
														</button>
														<!--end::Increase control-->
													</div>
													<!--end::Dialer-->
												</div>
												<!--end::Col-->

												<!--begin::Col-->
												<div
													class="col-md-6 fv-row">
													<!--begin::Label-->
													<label class="fs-6 fw-semibold mb-2">Pointure</label>
													<!--end::Label-->
													
													<!--begin::Dialer-->
													<div class="position-relative"
														data-kt-dialer="true"
														data-kt-dialer-min="1"
														data-kt-dialer-max="45"
														data-kt-dialer-step="1">

														<!--begin::Decrease control-->
														<button type="button" class="btn btn-icon btn-active-color-gray-700 position-absolute translate-middle-y top-50 start-0" data-kt-dialer-control="decrease">
															<i class="ki-duotone ki-minus-square fs-2"><span class="path1"></span><span class="path2"></span></i>
														</button>
														<!--end::Decrease control-->

														<!--begin::Input control-->
														<input type="text" class="form-control form-control-solid border-0 ps-12" data-kt-dialer-control="input" placeholder="Amount" name="enfant_pointure" readonly value="1" />
														<!--end::Input control-->

														<!--begin::Increase control-->
														<button type="button" class="btn btn-icon btn-active-color-gray-700 position-absolute translate-middle-y top-50 end-0" data-kt-dialer-control="increase">
															<i class="ki-duotone ki-plus-square fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
														</button>
														<!--end::Increase control-->
													</div>
													<!--end::Dialer-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Input group-->
										</div>
										<!--end::Modal body-->

										<!--begin::Modal footer-->
										<div
											class="modal-footer flex-center">
											<!--begin::Button-->
											<button type="reset" id="kt_modal_update_address_cancel" class="btn btn-light me-3">
												Annuler
											</button>
											<!--end::Button-->

											<!--begin::Button-->
											<button type="submit" id="kt_modal_update_address_submit" class="btn btn-primary">
												<span class="indicator-label">
													Soumettre
												</span>
												<span class="indicator-progress">
													Veuillez patienter...
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
												</span>
											</button>
											<!--end::Button-->
										</div>
										<!--end::Modal footer-->
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
						<!--end::Modal - Update Enfant-->
						<!--end::Modals-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Layout-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->

	</div>
{% endblock %}

{% block scripts %}
<script src="{{asset('assets/plugins/custom/datatables/datatables.bundle.js')}}"></script>

<script src="{{asset('assets/js/custom/apps/ecommerce/customers/details/transaction-history.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/ecommerce/customers/details/add-address.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/ecommerce/customers/details/update-address.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/ecommerce/customers/details/delete-address.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/ecommerce/customers/details/update-profile.js')}}"></script>

<script type="text/javascript">
    const ageSlider = (defaultValue, budgetSlider, budgetValue, hiddenField) => {
        noUiSlider.create(budgetSlider, {
            start: [defaultValue],
            connect: true,
            range: {
                min: 1,
                max: 216
            }
        });

        budgetSlider.noUiSlider.on("update", function (values, handle) {
            const value = Math.round(values[handle]);
            let displayValue = '';

            if (value < 12) {
                displayValue = value + ' mois';
            } else {
                const years = Math.round(value / 12);
                displayValue = `${years} an${years > 1 ? 's' : ''}`;
            }

            budgetValue.innerHTML = displayValue;
            // Mise à jour champ caché en mois
            hiddenField.value = displayValue;
        });
    }

    ageSlider(6,
        document.querySelector("#kt_modal_create_enfant_age_slider"),
        document.querySelector("#kt_modal_create_enfant_age_label"),
        document.querySelector("#enfants_age")
    );

    ageSlider(6,
        document.querySelector("#kt_modal_update_enfant_age_slider"),
        document.querySelector("#kt_modal_update_enfant_age_label"),
        document.querySelector("#enfant_age")
    );
    const enfants = {{ client.enfants|map(c => {
        id: c.id,
        nom: c.nom,
        age: c.age,
        taille: c.taille,
        pointure: c.pointure
    })|json_encode|raw }};

    const editModal = document.getElementById('kt_modal_update_address');
    function convertirAge(age) {
        age = age.toString().toLowerCase().trim();

        if (age.includes('an')) {
            // Extrait le nombre et multiplie par 12
            const nombre = parseInt(age);
            return nombre * 12;
        } else if (age.includes('mois')) {
            // Extrait le nombre tel quel
            const nombre = parseInt(age);
            return nombre;
        } else {
            // Si aucun mot clé, on suppose que c’est en années
            const nombre = parseInt(age);
            return nombre * 12;
        }
    }
    editModal.addEventListener('show.bs.modal', event => {
        const paramId = event.relatedTarget.attributes['data-bs-ident'].value;
        const enfant = enfants.find(c => c.id == paramId);
        var clickSlider = document.querySelector("#kt_modal_update_enfant_age_slider");

        if (!enfant) return;

        editModal.querySelector('input[name="enfant_id"]').value = enfant.id;
        editModal.querySelector('input[name="enfant_nom"]').value = enfant.nom;
        editModal.querySelector('input[name="enfant_age"]').value = enfant.age;
        editModal.querySelector('input[name="enfant_taille"]').value = enfant.taille;
        editModal.querySelector('input[name="enfant_pointure"]').value = enfant.pointure;

        clickSlider.noUiSlider.set(convertirAge(enfant.age));
    });

    {% for type, messages in app.flashes %}
        {% for message in messages %}
        Swal.fire({
            html: `{{message|raw}}`,
            icon: "{{type}}",
            buttonsStyling: false,
            confirmButtonText: "Ok, compris !",
            customClass: {
                confirmButton: "btn btn-primary"
            }
        });
        {% endfor %}
    {% endfor %}
</script>
{% endblock %}
