{% extends "layout.html.twig" %}

{% block stylesheets %}
<link href="{{asset('assets/plugins/custom/datatables/datatables.bundle.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
	<div
		class="d-flex flex-column flex-column-fluid">

		<!--begin::Toolbar-->
		<div
			id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">

			<!--begin::Toolbar container-->
			<div
				id="kt_app_toolbar_container" class="app-container container-xxl">
				
				{# <div class="bg-primary-o h-150px rounded d-flex flex-stack p-5 p-md-10">
					<!--begin::Page title-->
					<div
						class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
						<!--begin::Title-->
						<h1 class="page-heading d-flex text-gray-100 fw-bold fs-3 flex-column justify-content-center my-0">
							{{client.nom}}
						</h1>
						<!--end::Title-->


						<!--begin::Breadcrumb-->
						<ul
							class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								<a href="{{path('dashboard')}}" class="text-muted text-hover-primary">
									Accueil
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="breadcrumb-item">
								<span class="bullet bg-gray-500 w-5px h-2px"></span>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								<a href="{{path('liste_clients')}}" class="text-muted text-hover-primary">Liste des clients</a>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								<a href="{{path('detail_client', {client: client.id})}}" class="text-muted text-hover-primary">{{client.nom}}</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="breadcrumb-item">
								<span class="bullet bg-gray-500 w-5px h-2px"></span>
							</li>
							<!--end::Item-->

							<!--begin::Item-->
							<li class="breadcrumb-item text-muted">
								Détails
							</li>
							<!--end::Item-->

						</ul>
						<!--end::Breadcrumb-->
					</div>
					<!--end::Page title-->
				</div> #}
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->

		<!--begin::Content-->
		<div
			id="kt_app_content" class="app-content  flex-column-fluid ">


			<!--begin::Content container-->
			<div
				id="kt_app_content_container" class="app-container  container-xxl ">
				<!--begin::Layout-->
				<div
					class="d-flex flex-column flex-xl-row">
					<!--begin::Container-->
					<div
						id="kt_content_container" class=" container-xxl ">
						<!--begin::Layout-->
						<div
							class="d-flex flex-column flex-xl-row">
							<!--begin::Sidebar-->
							<div
								class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">

								<!--begin::Card-->
								<div
									class="card mb-5 mb-xl-8">
									<!--begin::Card body-->
									<div
										class="card-body pt-15">
										<!--begin::Summary-->
										<div
											class="d-flex flex-center flex-column mb-5">
											<!--begin::Avatar-->
											<div class="symbol symbol-150px symbol-circle mb-7">
												<img src="{{asset('assets/media/svg/avatars/blank.svg')}}" alt="image"/>
											</div>
											<!--end::Avatar-->

											<!--begin::Name-->
											<a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">
												{{client.nom}}
											</a>
											<!--end::Name-->

											<!--begin::Email-->
											<a href="#" class="fs-5 fw-semibold text-muted text-hover-primary mb-6">
												{{client.telephone}}
											</a>
											<!--end::Email-->
										</div>
										<!--end::Summary-->

										<!--begin::Details toggle-->
										<div class="d-flex flex-stack fs-4 py-3">
											<div class="fw-bold">
												Détails
											</div>

											<!--begin::Badge-->
											<div class="badge badge-light-secondary d-inline">Client.categorie.libelle</div>
											<!--begin::Badge-->
										</div>
										<!--end::Details toggle-->

										<div class="separator separator-dashed my-3"></div>

										<!--begin::Details content-->
										<div
											class="pb-5 fs-6">
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Identifiant</div>
											<div class="text-gray-600">ID-{{client.id}}</div>
											<!--begin::Details item-->
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Régistre de commerce</div>
											<div class="text-gray-600">
												<span class="text-gray-600">{{client.registreCommerce|default('')}}</span>
											</div>
											<!--begin::Details item-->
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Regime d'imposition</div>
											<div class="text-gray-600">
												<span class="text-gray-600">{{client.regimeImposition|default('')}}</span>
											</div>
											<!--begin::Details item-->
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Email</div>
											<div class="text-gray-600">
												<a href="mailto:{{client.email|default('')}}" class="text-gray-600 text-hover-primary">{{client.email|default('')}}</a>
											</div>
											<!--begin::Details item-->
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Téléphone</div>
											<div class="text-gray-600">
												<a href="tel:{{client.telephone|default('')}}" class="text-gray-600 text-hover-primary">{{client.telephone|default('')}}</a>
											</div>
											<!--begin::Details item-->
											<!--begin::Details item-->
											<div class="fw-bold mt-5">Adresse</div>
											<div class="text-gray-600">{{client.adresse ? client.adresse ~', ' : ''}}
												<br/>{{client.commune ? client.commune ~', ' : ''}}{{client.ville}}</div>
											<!--begin::Details item-->
										</div>
										<!--end::Details content-->
									</div>
									<!--end::Card body-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Sidebar-->

							<!--begin::Content-->
							<div
								class="flex-lg-row-fluid ms-lg-15">
								<!--begin:::Tabs-->
								<ul
									class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
									<!--begin:::Tab item-->
									<li class="nav-item">
										<a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_customer_overview">Aperçu</a>
									</li>
									<!--end:::Tab item-->

									<!--begin:::Tab item-->
									<li class="nav-item">
										<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_customer_general">Réglage général</a>
									</li>
									<!--end:::Tab item-->

									<!--begin:::Tab item-->
									<li class="nav-item">
										<a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_customer_advanced">Projets</a>
									</li>
									<!--end:::Tab item-->
								</ul>
								<!--end:::Tabs-->

								<!--begin:::Tab content-->
								<div
									class="tab-content" id="myTabContent">
									<!--begin:::Tab pane-->
									<div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
										<div class="row row-cols-1 row-cols-md-2 mb-6 mb-xl-9">
											<div
												class="col">
												<!--begin::Card-->
												<div
													class="card pt-4 h-md-100 mb-6 mb-md-0">
													<!--begin::Card header-->
													<div
														class="card-header border-0">
														<!--begin::Card title-->
														<div class="card-title">
															<h2 class="fw-bold">Total dépenses</h2>
														</div>
														<!--end::Card title-->
													</div>
													<!--end::Card header-->

													<!--begin::Card body-->
													<div class="card-body pt-0">
														<div class="fw-bold fs-2">
															<div class="d-flex">
																<i class="ki-duotone ki-heart text-info fs-2x">
																	<span class="path1"></span>
																	<span class="path2"></span>
																</i>
																<div class="ms-2">
																	4,571
																	<span class="text-muted fs-4 fw-semibold">F CFA</span>
																</div>
															</div>
															<div class="fs-7 fw-normal text-muted">Il s'agit ici de l'ensemble des montant reversé au client.</div>
														</div>
													</div>
													<!--end::Card body-->
												</div>
												<!--end::Card-->
											</div>

											<div
												class="col">
												<!--begin::Reward Tier-->
												<a
													href="#" class="card bg-info hoverable h-md-100">
													<!--begin::Body-->
													<div class="card-body">
														<i class="ki-duotone ki-award text-white fs-3x ms-n1">
															<span class="path1"></span>
															<span class="path2"></span>
															<span class="path3"></span>
														</i>
														<div class="text-white fw-bold fs-2 mt-5">
															Client.categorie.libelle
														</div>

														<div class="fw-semibold text-white">
															Client.categorie.description
														</div>
													</div>
													<!--end::Body-->
												</a>
												<!--end::Reward Tier-->
											</div>
										</div>

										<!--begin::Card-->
										<div
											class="card pt-4 mb-6 mb-xl-9">
											<!--begin::Card header-->
											<div
												class="card-header border-0">
												<!--begin::Card title-->
												<div class="card-title">
													<h2>Historique des contrats</h2>
												</div>
												<!--end::Card title-->
											</div>
											<!--end::Card header-->

											<!--begin::Card body-->
											<div
												class="card-body pt-0 pb-5">
												<!--begin::Table-->
												<table class="table align-middle table-row-dashed gy-5" id="kt_table_customers_payment">
													<thead class="border-bottom border-gray-200 fs-7 fw-bold">
														<tr class="text-start text-muted text-uppercase gs-0">
															<th class="min-w-100px">Contrat</th>
															<th>Status</th>
															<th>Montant</th>
															<th class="min-w-100px">Projet</th>
															<th class="min-w-100px">Date</th>
														</tr>
													</thead>
													<tbody class="fs-6 fw-semibold text-gray-600">
														{% for contrat in client.contrats %}
														<tr>
															<td>
																<a href="{{path('contrat_details', {contrat: contrat.id})}}" class="text-gray-600 text-hover-primary mb-1">{{contrat.nom}}</a>
															</td>
															<td>
																<span class="badge badge-light-success">{{contrat.statut}}</span>
															</td>
															<td>
																{{contrat.montant|number_format(0, ',', ' ')}}
															</td>
															<td>
																{{contrat.projet.nom}}
															</td>
															<td>
																{{contrat.createdAt|date('d M Y')}}
															</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
												<!--end::Table-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Card-->
									</div>
									<!--end:::Tab pane-->

									<!--begin:::Tab pane-->
									<div
										class="tab-pane fade" id="kt_ecommerce_customer_general" role="tabpanel">
										<!--begin::Card-->
										<div
											class="card pt-4 mb-6 mb-xl-9">
											<!--begin::Card header-->
											<div
												class="card-header border-0">
												<!--begin::Card title-->
												<div class="card-title">
													<h2>Profil</h2>
												</div>
												<!--end::Card title-->
											</div>
											<!--end::Card header-->

											<!--begin::Card body-->
											<div
												class="card-body pt-0 pb-5">
												<!--begin::Form-->
												{{form_start(edit_client, {'attr': {'id': 'kt_ecommerce_customer_profile', 'class': 'form'}})}}
													<!--begin::Input group-->
													{# <div
														class="mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">
															<span>Avatar</span>

															<span class="ms-1" data-bs-toggle="tooltip" title="Allowed file types: png, jpg, jpeg.">
																<i class="ki-duotone ki-information fs-7">
																	<span class="path1"></span>
																	<span class="path2"></span>
																	<span class="path3"></span>
																</i>
															</span>
														</label>
														<!--end::Label-->

														<!--begin::Image input wrapper-->
														<div
															class="mt-1">
															<!--begin::Image input placeholder-->
															<style>
																.image-input-placeholder {
																	background-image: url('/metronic8/demo10/assets/media/svg/files/blank-image.svg');
																}

																[data-bs-theme="dark"] .image-input-placeholder {
																	background-image: url('/metronic8/demo10/assets/media/svg/files/blank-image-dark.svg');
																}
															</style>
															<!--end::Image input placeholder-->

															<!--begin::Image input-->
															<div
																class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true">
																<!--begin::Preview existing avatar-->
																<div class="image-input-wrapper w-125px h-125px" style="background-image: url(/metronic8/demo10/assets/media/avatars/300-1.jpg)"></div>
																<!--end::Preview existing avatar-->

																<!--begin::Edit-->
																<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
																	<i class="ki-duotone ki-pencil fs-7">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																	<!--begin::Inputs-->
																	<input type="file" name="avatar" accept=".png, .jpg, .jpeg"/>
																	<input
																	type="hidden" name="avatar_remove"/>
																<!--end::Inputs-->
																</label>
																<!--end::Edit-->

																<!--begin::Cancel-->
																<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
																	<i class="ki-duotone ki-cross fs-2">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																</span>
																<!--end::Cancel-->

																<!--begin::Remove-->
																<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
																	<i class="ki-duotone ki-cross fs-2">
																		<span class="path1"></span>
																		<span class="path2"></span>
																	</i>
																</span>
																<!--end::Remove-->
															</div>
															<!--end::Image input-->
														</div>
														<!--end::Image input wrapper-->
													</div> #}
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2 required">Nom ou raison sociale</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.nom, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Nom ou raison sociale'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2 required">Registre de commerce</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.registreCommerce, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer le registre de commerce'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2 required">Régime d'imposition</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.regimeImposition, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer le régime d\'imposition'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Row-->
													<div
														class="row row-cols-1 row-cols-md-2">
														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span class="required">Téléphone</span>

																	<span class="ms-1" data-bs-toggle="tooltip" title="Email address must be active">
																		<i class="ki-duotone ki-information fs-7">
																			<span class="path1"></span>
																			<span class="path2"></span>
																			<span class="path3"></span>
																		</i>
																	</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.telephone, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Numéro de téléphone'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->

														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span>Email</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.email, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Adresse email'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->
													</div>
													<!--end::Row-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">Site internet</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.siteWeb, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer l\'adresse du site internet'}})}}
														<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">Boite postale</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.boitePostale, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer l\'adresse postale'}})}}
														<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-7">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">Adresse</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.adresse, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrer l\'adresse complète'}})}}
													<!--end::Input-->
													</div>
													<!--end::Input group-->

													<!--begin::Row-->
													<div
														class="row row-cols-1 row-cols-md-2">
														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span class="">Commune</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.commune, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Le nom de la commune'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->

														<!--begin::Col-->
														<div
															class="col">
															<!--begin::Input group-->
															<div
																class="fv-row mb-7">
																<!--begin::Label-->
																<label class="fs-6 fw-semibold mb-2">
																	<span>Ville</span>
																</label>
																<!--end::Label-->

																<!--begin::Input-->
																{{form_widget(edit_client.ville, {'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Le nom dela ville'}})}}
															<!--end::Input-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Col-->
													</div>
													<!--end::Row-->

													<!--begin::Input group-->
													<div
														class="fv-row mb-15">
														<!--begin::Label-->
														<label class="fs-6 fw-semibold mb-2">Description</label>
														<!--end::Label-->

														<!--begin::Input-->
														{{form_widget(edit_client.description, {'attr': {'class': 'form-control form-control-solid', 'placeholder': ''}})}}
														<!--end::Input-->
													</div>
													<!--end::Input group-->

													<div
														class="d-flex justify-content-end">
														<!--begin::Button-->
														<button type="submit" id="kt_ecommerce_customer_profile_submit" class="btn btn-light-primary">
															<span class="indicator-label">
																Enregistrer
															</span>
															<span class="indicator-progress">
																Veuillez patienter...
																<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
															</span>
														</button>
														<!--end::Button-->
													</div>
												{{form_end(edit_client)}}
												<!--end::Form-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Card-->

									</div>
									<!--end:::Tab pane-->

									<!--begin:::Tab pane-->
									<div
										class="tab-pane fade" id="kt_ecommerce_customer_advanced" role="tabpanel">
										<!--begin::Card-->
										<div class="card pt-4 mb-6 mb-xl-9">
											<!--begin::Header-->
											<div class="card-header">
												<!--begin::Title-->
												<div class="card-title">
													<h2>Liste des projets impliqués</h2>
												</div>
												<!--end::Title-->

												<!--begin::Toolbar-->
												<div class="card-toolbar">
													<!--begin::Tab nav-->
													<ul class="nav nav-stretch fs-5 fw-semibold nav-line-tabs nav-line-tabs-2x border-transparent" role="tablist">
														<li class="nav-item" role="presentation">
															<a class="nav-link text-active-primary active" data-bs-toggle="tab" role="tab" href="#kt_customer_view_statement_1">
																Tout
															</a>
														</li>

														{% set annees = [ "now"|date("Y"), "now"|date("Y") - 1, "now"|date("Y") - 2 ] %}
														{% for index, annee in annees %}
															{% set projetsAnnee = client.projets|filter(c => c.dateDebut|date("Y") == annee) %}
															{% if projetsAnnee is not empty %}
														<li class="nav-item" role="presentation">
															<a class="nav-link text-active-primary ms-3" data-bs-toggle="tab" role="tab" href="#kt_customer_view_statement_{{index + 2}}">
																{{ annee == "now"|date("Y") ? 'Cette année' : annee }}
															</a>
														</li>
															{% endif %}
														{% endfor %}
													</ul>
													<!--end::Tab nav-->
												</div>
												<!--end::Toolbar-->
											</div>
											<!--end::Header-->

											<!--begin::Card body-->
											<div class="card-body pb-5">
												<!--begin::Tab Content-->
												<div id="kt_customer_view_statement_tab_content" class="tab-content">
													<!--begin::Tab panel-->
													<div id="kt_customer_view_statement_1" class="py-0 tab-pane fade show active" role="tabpanel">
														<!--begin::Table-->
														<table id="kt_customer_view_statement_table_1" class="table align-middle table-row-dashed fs-6 text-gray-600 fw-semibold gy-4">
															<thead class="border-bottom border-gray-200">
																<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
																	<th class="w-125px">Date</th>
																	<th class="w-100px">Projet</th>
																	<th class="w-300px">Secteur</th>
																	<th class="w-100px">Montant</th>
																	<th class="w-100px text-end pe-7">Facture</th>
																</tr>
															</thead>
															<tbody>
																{% for projet in client.projets %}
																<tr>
																	<td>{{projet.createdAt|date('d M, Y')}}</td>
																	<td><a href="{{path('projet_resume', {projet: projet.id})}}" class="text-gray-600 text-hover-primary">{{projet.nom}}</a></td>
																	<td>{{projet.secteurActivite.libelle}}</td>
																	{% set totalMontant = projet.contrats|reduce((carry, contrat) => carry + contrat.montant, 0) %}
																	<td class="text-success">{{ totalMontant|number_format(0, ',', ' ') }}</td>
																	<td class="text-end">
																		<button class="btn btn-sm btn-light btn-active-light-primary">Télécharger</button>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
														<!--end::Table-->
													</div>
													<!--end::Tab panel-->
													<!--begin::Tab panel-->
													{% set annees = [ "now"|date("Y"), "now"|date("Y") - 1, "now"|date("Y") - 2 ] %}
													{% for index, annee in annees %}
														{% set projetsAnnee = client.projets|filter(c => c.dateDebut|date("Y") == annee) %}
														{% if projetsAnnee is not empty %}
													<div id="kt_customer_view_statement_{{index + 2}}" class="py-0 tab-pane fade" role="tabpanel">
														<!--begin::Table-->
														<table id="kt_customer_view_statement_table_{{index + 2}}" class="table align-middle table-row-dashed fs-6 text-gray-600 fw-semibold gy-4">
															<thead class="border-bottom border-gray-200">
																<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
																	<th class="w-125px">Date</th>
																	<th class="w-100px">Projet</th>
																	<th class="w-300px">Secteur</th>
																	<th class="w-100px">Montant</th>
																	<th class="w-100px text-end pe-7">Facture</th>
																</tr>
															</thead>
															<tbody>
																{% for projet in projetsAnnee %}
																<tr>
																	<td>{{projet.createdAt|date('d M, Y')}}</td>
																	<td><a href="{{path('projet_resume', {projet: projet.id})}}" class="text-gray-600 text-hover-primary">{{projet.nom}}</a></td>
																	<td>{{projet.secteurActivite.libelle}}</td>
																	{% set totalMontant = projet.contrats|reduce((carry, contrat) => carry + contrat.montant, 0) %}
																	<td class="text-success">{{ totalMontant|number_format(0, ',', ' ') }}</td>
																	<td class="text-end">
																		<button class="btn btn-sm btn-light btn-active-light-primary">Télécharger</button>
																	</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
														<!--end::Table-->
													</div>
														{% endif %}
													{% endfor %}
													<!--end::Tab panel-->
												</div>
												<!--end::Tab Content-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Card-->
									</div>
									<!--end:::Tab pane-->
								</div>
								<!--end:::Tab content-->
							</div>
							<!--end::Content-->
						</div>
						<!--end::Layout-->

						<!--begin::Modals-->
						<!--end::Modals-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Layout-->
			</div>
			<!--end::Content container-->
		</div>
		<!--end::Content-->

	</div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/plugins/custom/datatables/datatables.bundle.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/ecommerce/customers/details/update-profile.js')}}"></script>
<script src="{{asset('assets/js/custom/apps/customers/view/statement.js')}}"></script>

<script type="text/javascript">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
        Swal.fire({
            html: `{{message|raw}}`,
            icon: "{{type}}",
            buttonsStyling: false,
            confirmButtonText: "Ok, compris !",
            customClass: {
                confirmButton: "btn btn-primary"
            }
        });
        {% endfor %}
    {% endfor %}
</script>
{% endblock %}
